@charset "utf-8";
/* 도깨비 pj 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/* 12그리드 css */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

 /************************ 메인 CSS  ************************/
 /************************ 1. 상단영역  ************************/
 .top-area{
    height: 122px;
 }
/* 상단영역 flex 부모박스  */
 .top-area .cont-box{
    justify-content: space-between;
 }
/* 로고박스 */
.logo-box{
  width: 130px;
  text-align: center;
  padding: 10px 0;

}

/*메뉴박스 */
.menu-box{
    padding-right: 10px;
}
/* 질문: 배너제외한 모든 바디에 그냥 좌우 패딩 10px 넣으면 안되나여? -> 이게 정석인데 (공통은 공통처리)
지금 연습중이라 한파트씩 만들다보니...*/

 /* 메뉴그룹 플렉스 */
 .menu-group{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-evenly;
     height: 100%;
 }

 /* 상단영역 메뉴 공통 플렉스 */
 .menu-group ul{
     display: flex;
     font-size: 1.8rem;
 }

/* 탑메뉴 */
.top-menu ul{
    font-size: 1.6rem;
    gap: 2rem;
}
/* GNB메뉴 */
.gnb-menu ul{
    font-size: 1.8rem;
    gap: 3.2rem;

}




 /************************ 1.5. 드라마파트 메뉴  ************************/
 /************************ 2. 메인영역  ************************/
 /************************ 2-1. 배너 영역  ************************/
 .banner-part{
    /* 비율세팅: 배너 이미지 크기 비율임! */
    aspect-ratio: 1360/592;
    background: url(../images/도깨비배너1-1.png) no-repeat center/cover;
 }
 /************************ 2-2. 캐릭터소개 영역  ************************/
 .character-part{
    height: 188px;
 }
 /************************ 2-3. 드라마소개 영역 ************************/
 .intro-part{
     height: 500px;
 }
 /************************ 2-4. 미리보기 영역  ************************/
 .preview-part{
     height: 660px;
 }
 /************************ 2-5. 현장포토 영역  ************************/
 .field-part{
     height: 906px;
 }
 /************************ 2-6. 대표포스터 영역 ************************/
 .poster-part{
    height: 654px;
}
 /************************ 2-7. 최신동영상 영역  ************************/
 .video-part{
    height: 409px;
}
 /************************ 3. 하단영역  ************************/
 .bottom-area{
    height: 391px;
}