@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경 넣기 */
body {
  /* 배경이미지 스크롤해도 안움직이는 고정형 세팅 */
  background: url(../images/bg3.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
/* body * {
  outline: 2px dashed #ccc;
} */

/*************** 1. 상단영역 ***************/

/*************** 2. 메인영역 ***************/
.main-area {
  padding-top: 250px;
}

/* 토끼의 대사박스 */
.talk-box1{
  position: absolute;
}

/* 로봇토끼 박스 */
.robot-box {
  /* 하단 여백만들기- 다리가 앱솔로 튀어나올경우 필요함 */
  padding-bottom: 60px;
}

/* 로봇머리 */
.robot-head {
  /* 부모자격- 자식앱솔루트의 부모 */
  position: relative;

  width: 380px;
  height: 300px;
  /* 무대중간으로 마영오씨를 모셔 */
  margin: 0 auto;

  /* top: 50%;
    left: 50%;
    translate: -50% -50%; */
}
/* 자식요소 모두 앱솔루트 */
.robot-head > div {
  position: absolute;
}

/* 귀, 얼굴, 팔, 몸통, 발 테두리 */
.robot-body > .arm,
.leg {
  border: 5px solid #494949;
}
.robot-head > .ear,
.face {
  border: 5px solid #494949;
}

.face {
  width: 380px;
  height: 300px;
  /* 무대중간으로 마영오씨를 모셔 */
  margin: 0 auto;
  /* border-radius: 60px 60px 30px 30px; */
  border-radius: 60% 60% 45% 45%;
}

/* 눈공통 */
.eye {
  /* 같은 높이 */
  top: 83px;
  /* 크기 */
  width: 80px;
  height: 100px;
  /* border-radius: 50%; */
  outline: none;
  /* border: 0px double rgba(255, 255, 255, 0); */
  /* 배경공통 */
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 왼쪽눈 */
.eye1 {
  /* 지금은 이미지 크기가 멋대로라 직접 잡았는데 */
  /* 퍼센트로 잡기 */
  /* left: 50%;
    translate: -120%; */

  left: 20%;
  background-image: url(../images/토끼눈1.png);
}
/* 오른쪽눈 */
.eye2 {
  /* 퍼센트로 */
  /* right: 50%;
    translate: 120%; */

  right: 20%;
  background-image: url(../images/토끼눈2.png);
}

/* 코 */
.nose {
  top: 116%;
  left: 50%;
  translate: -50% -120%;

  width: 30px;
  height: 150px;
  background-image: url(../images/nose.png);
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: 100% 10%;
}

/* 입 */
.mouth {
  top: 63%;
  left: 43.5%;
  width: 50px;
  /* height: 500px; */
  height: 100px;
  /* background-image: url(../images/토끼입.png); */
  background-image: url(../images/고양이입.png);
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: 100% 10%;
}

/* 귀 */
.robot-head > .ear {
  top: -50%;
  width: 120px;
  height: 220px;
  /* border-radius: 60px 40px 0 0; */
  background: url(../images/fur.jpg) no-repeat center/auto;
  z-index: -2;
}
/* 왼귀 */
.ear1 {
  left: 15%;
  border-radius: 150px 60px;
}
/* 오른귀 */
.ear2 {
  right: 15%;
  border-radius: 60px 150px;
}
/* 리본 */
.robot-head > .ribbon {
  position: absolute;
  width: 200px;
  height: 130px;
  top: 79%;
  left: 52%;
  translate: -50%;
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 3;
}

/* 2-1-2. 로봇몸통 */
.robot-body {
  position: relative;
  top: -20px;
  /* 부모자격 */
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border-radius: 90% 90% 60% 60%;
  border: 5px solid #494949;

  /* margin-top: 50px; */
}

/* 로봇 리본 가상요소로 만들기 -> 구려서 그냥 이미지로 변경*/
/* 리본1 */
/* .robot-head::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 40%;
    top: 88%;
    left: 50%;
    translate: -50%;
    clip-path: polygon(10% 10%, 50% 25%, 90% 10%, 85% 65%, 50% 45%, 18% 65%);
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
} */

/* 리본2 */
/* .robot-head::after{
    content: '';
    position: absolute;
        width: 17%;
    height: 22%;
    top: 97%;
    left: 46%;
    clip-path: polygon(0 54%, 19% -100%, 50% 51%, 0% 50%);
    
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(163, 0, 0), rgb(65, 24, 60));
   
} */
/* 리본3 */
/* .face::before{
    content: '';
    position: absolute;
        width: 30%;
    height: 50%;
    bottom: -52%;
    left: 32%;
    rotate: 10deg;
 clip-path: polygon(50% 0%, 50% 50%, 0% 50%);
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
} */
/* 리본4 */
/* .face::after{
    content: '';
    position: absolute;
        width: 30%;
    height: 50%;
    bottom: -50%;
    left: 53%;
     rotate: -10deg;
    clip-path: polygon(0 0, 50% 50%, 0% 50%);
    
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
} */

/* 몸통 직계자식 요소> 모두 앱솔루트 */
.robot-body > div {
  position: absolute;
}

/* 움직이는 팔다리관절 버전 그건 그냥 쌤버전꺼 복사해서 따로 두고 비교해보기
가상요소 사용함*/
/* 팔공통 */
.arm {
  width: 40%;
  height: 80%;
  border-radius: 40%;

  z-index: -1;
}
/* 왼팔 */
.arm1 {
  top: -7%;
  left: -15%;
  rotate: 60deg;
}
/* 오른팔 */
.arm2 {
  top: -37%;
  right: -25%;
  rotate: 60deg;
}
/* 다리공통 */
.leg {
  width: 40%;
  height: 50%;
}
/* 왼다리 */
.leg1 {
  bottom: -7%;
  left: -15%;
  border-radius: 40% 50%;
  z-index: 2;
}
/* 오른다리 */
.leg2 {
  bottom: -7%;
  right: -15%;
  border-radius: 50% 40%;
  z-index: 2;
}
/* TV */
.tv {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 250px;
  height: 180px;
  background: url(../images/wacom.png) no-repeat 0/100%;
}
.pen {
  top: -50%;
  right: -68%;
  rotate: 80deg;
  width: 200px;
  height: 180px;
  background: url(../images/pen.png) no-repeat 0/100%;
  z-index: 2;
}

/* 스크린 */
.screen {
  position: absolute;
  top: 21px;
  left: 25px;
  width: 202px;
  height: 114px;
  border-radius: 2px;
  border-radius: 1px;
  background-color: #b4b4b4;
  /* 넘치는 자식 요소 숨기기 */
  overflow: hidden;
}
/* 아이프레임 */
.screen iframe {
  position: absolute;

  width: 202px;
  height: 118px;
  border-radius: 1px;
  /* 기본보더없앰 */
  border: none;
}

/* ************************************************************
위까지가 로봇토끼 꾸미기
********************************************************** */

/* 2-2. 설명박스 */
.text-box {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  background-color: #cfc3c367;
  border-radius: 20px;
  padding: 15px 30px;
  /* 박스 2중 글로우효과(그림자로줌) */
  box-shadow: inset 0 0 20px rgb(246, 177, 230),
    inset 0 0 50px 10px rgb(44, 127, 243);

  /* 백드롭 블러효과주기 */
  backdrop-filter: blur(6px);
  /* 
  [백드롭 필터효과] 
  - filter속성과 동일한 셋팅을 가지며
  적용대상이 겹쳐지는 하단의 그래픽을 변경한다!

  backdrop-filter: blur(2px); -> 흐림
  backdrop-filter: brightness(60%); -> 밝기
  backdrop-filter: contrast(40%); -> 대비
  backdrop-filter: drop-shadow(4px 4px 10px blue);->그림자
  backdrop-filter: grayscale(30%);-> 흑백
  backdrop-filter: hue-rotate(120deg); -> 색상변경
  backdrop-filter: invert(70%); -> 반전색
  backdrop-filter: opacity(20%); -> 투명도
  backdrop-filter: sepia(90%); -> 세피아효과
  backdrop-filter: saturate(80%); -> 채도

  -> 복합적용 가능!
  backdrop-filter: blur(4px) saturate(150%);
  */
}

/* 2-2-1. 제목 */
.text-box h2 {
  /* 스티키 포지션 */
  position: sticky;
  top: 10px;
  /* top값이 고정위치값임! */

  font-family: "Chakra Petch", sans-serif;
  font-size: 35px;
  text-align: center;
  background-color: #ffffff8d;
  color: rgb(255, 185, 185);
  text-shadow: 2px 2px 2px #0000007b;
  border-radius: 20px;
  /* 기존 두꺼운체 해제 : fwn */
  font-weight: normal;
}

.text-box h3{
  font-size: 20px;
  text-align: left;
  color: #d0d0d0;
  font-weight: normal;
}
/* 2-2-2. 출처 */
.text-box small {
  font-family: "dohyeon", sans-serif;
  font-size: 12px;
  text-shadow: 1px 1px 1px #00000077;
  color: rgb(232, 242, 254);

  /* 블록으로 변경해야 tac먹힘! */
  display: block;
  text-align: center;
  padding: 10px;
}

/* 2-2-3.내용단락 */
.text-box article {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.7;
  /* 자간 */
  letter-spacing: 1px;
  /* 단어간격 */
  word-spacing: 2px;

  /* 다단설정하기
    -> 다중열속성
    column-count : 다중열개수
    column-rule : 다중열구분선
    column-gap : 다중열사이간격
  */
  column-count: 2;
  column-rule: 5px double rgb(238, 156, 144);
  /* 다중열 구분선 값은 보더와 같음
  -> 두종색! -> 두께 종류 색상 */
  column-gap: 55px;

  /* 양쪽정렬 : justify */
  text-align: justify;
  /* 영문에서 양쪽 정렬일 경우
  단어단위로 줄바꿈이 되므로 중간에
  구멍이 생김. 따라서 단어깨기설정필요! */
  /* 단어깨기 : 모두깨기(break-all) */
  word-break: break-all;

  /* 첫줄 들여쓰기 : text-indent (ti) */
  text-indent: 40px;
}
/* 가상요소 첫글자 적용하기 */
.text-box article::first-letter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(186, 231, 255);
}

/*************** 4. 하단영역 ***************/
