@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

/* 전체 배경 넣기 */
body {
  /* 배경이미지 스크롤해도 안움직이는 고정형 세팅 */
  background: url(../images/bg3.jpg) no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/*************** 1. 상단영역 ***************/
/*************** 2. 메인영역 ***************/
.main-area {
  padding-top: 150px;
}

/* 로봇머리 */
.robot-head {
  /* 부모자격- 자식앱솔루트의 부모 */
  position: relative;

  width: 250px;
  height: 200px;
  /* 무대중간으로 마영오씨를 모셔 */
  margin: 0 auto;
  /* border-radius: 60px 60px 30px 30px; */
  border-radius: 50% 50% 30% 30%;

  /* top: 50%;
    left: 50%;
    translate: -50% -50%; */
}
/* 자식요소 모두 앱솔루트 */
.robot-head > div {
  position: absolute;
  
}
.face {
  top: -10px;
  left: 25px;
  width: 200px;
  height: 200px;
  background: url(../images/face.png) no-repeat center 100% / 100%;
  z-index: 2;
}

/* 눈공통 */
.eye {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  outline: none;
  /* border: 0px double rgba(255, 255, 255, 0); */
  /* 배경공통 */
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* top: 83px; 사진크기가달라서큐ㅠㅠ*/
}

/* 왼쪽눈 */
.eye1 {
  /* 지금은 이미지 크기가 멋대로라 직접 잡았는데 */
  /* 퍼센트로 잡기 */
  /* left: 50%;
    translate: -120%; */
  top: 83px;
  left: 50px;
  background-image: url(../images/lefteye2.png);
}
/* 오른쪽눈 */
.eye2 {
    /* 퍼센트로 */
    /* right: 50%;
    translate: 120%; */
  top: 80px;
  right: 45px;
  background-image: url(../images/righteye2.png);
}

/* 코 */
.nose {
  top: 80%;
  left: 50%;
  translate: -50% -120%;

  width: 50px;
  height: 30px;
  background-image: url(../images/nose.png);
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 귀 */
.ear {
  top: -80px;
  width: 80px;
  height: 120px;
  /* border-radius: 60px 40px 0 0; */
  background: url(../images/fur.jpg) no-repeat center/auto;
  z-index: -2;
}
/* 왼귀 */
.ear1 {
  left: 30px;
  border-radius: 100px 60px 0 0;
}
/* 오른귀 */
.ear2 {
  right: 30px;
  border-radius: 60px 100px 0 0;
}

/* 2-1-2. 로봇몸통 */
.robot-body {
    position: relative;
    top: -20px;
    /* 부모자격 */
    width: 280px;
    height: 280px;
    margin: 0 auto;
    border-radius: 90% 90% 60% 60%;
    
    z-index: -1;
    /* margin-top: 50px; */
    
}

/* 로봇 리본 가상요소로 만들기 */
/* 리본1 */
.robot-head::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 40%;
    top: 88%;
    left: 50%;
    translate: -50%;
    clip-path: polygon(10% 10%, 50% 25%, 90% 10%, 85% 65%, 50% 45%, 18% 65%);
    /* clip-path: polygon(10% 0%,50% 19%, 90% 0, 85% 68%, 50% 43%,18% 68%); */
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
   
}
/* 리본2 */
.robot-head::after{
    content: '';
    position: absolute;
        width: 17%;
    height: 22%;
    top: 97%;
    left: 46%;
    clip-path: polygon(0 54%, 19% -100%, 50% 51%, 0% 50%);
    
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(163, 0, 0), rgb(65, 24, 60));
   
}
/* 리본3 */
.face::before{
    content: '';
    position: absolute;
        width: 30%;
    height: 50%;
    bottom: -52%;
    left: 32%;
    rotate: 10deg;
    
    /* translate: -50%; */
 clip-path: polygon(50% 0%, 50% 50%, 0% 50%);
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
}
/* 리본4 */
.face::after{
    content: '';
    position: absolute;
        width: 30%;
    height: 50%;
    bottom: -50%;
    left: 53%;
     rotate: -10deg;
    /* translate: -50%; */
    clip-path: polygon(0 0, 50% 50%, 0% 50%);
    
    z-index: 3;
    background-image: linear-gradient(to bottom, rgb(145, 8, 8), rgb(62, 11, 55));
}


/* 몸통 직계자식 요소> 모두 앱솔루트 */
.robot-body > div {
  position: absolute;
}

/* 움직이는 팔다리관절 버전 그건 그냥 쌤버전꺼 복사해서 따로 두고 비교해보기
가상요소 사용함*/
/* 팔공통 */
.arm{
width: 40%;
height: 80%;
border-radius: 40%;

}
/* 왼팔 */
.arm1{
    top: -7%;
left: -15%;
rotate: 60deg;
}
/* 오른팔 */
.arm2{
    top: -37%;
    right: -25%;
    rotate: 60deg;
}
/* 다리공통 */
.leg {
width: 40%;
height: 50%;

border-radius: 40%;

}
/* 왼다리 */
.leg1{
bottom: -7%;
left: -15%;
}
/* 오른다리 */
.leg2{
bottom: -7%;
right: -15%;
}
/* TV */
.tv {
      top: 50%;
    left: 50%;
    translate: -50% -50%;
  width: 250px;
  height: 180px;
  background: url(../images/wacom.png) no-repeat 0/100%;
}
.pen {
      top: 80%;
    left: 50%;
    translate: -50% -50%;
  width: 200px;
  height: 180px;
  background: url(../images/pen.png) no-repeat 0/100%;
}

/*************** 3. 하단영역 ***************/
