@charset "utf-8";
/* Open Door CSS - opendoor.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
/* font-family: 'Comfortaa', cursive; */

/* 초기화 */
html,body,h1{
    margin: 0;
    padding: 0;
}

/* 공사중 표시 */
/* body * {
    outline: 2px dashed rgb(255, 255, 255);
} */

body{
    height: 100vh;
    overflow: hidden;
    background-color: #ff894f;
}

/* 타이틀 */
    .tit{
        font-family: 'Pretendard';
        font-size: 42px;
        margin: 20px auto;
        text-align: center;
        text-shadow: 2px 2px 2px #000000a2;
        color: #fff;

    }
    /* 전체 래핑 박스 */
    .wrap{
        padding: 50px 0;

    }
    /* 전체 문 부모 */
    .cont{
        width: 400px;
        height: 600px;
        margin: 0 auto;
        background-color: #ffbf3f;
    }
    /* 문프레임 */
    .frame{
        position: relative;
        top: 18px;
        width: 350px;
        height: 580px;
        margin: 0 auto;
        background: url(../images/seashore.jpg) no-repeat center/auto 100%;

         /*********************************** 
        [ 3D 원근설정 ]
        1. 셋팅위치:
        3D원근 설정을 할 대상의 부모요소
        2. 설정방법:
        perspective: 수치
        -> 수치는 px단위 또는 구체적인
        상대단위(em,rem,vw,vh등)로 설정.
        -> 기준축으로 부터 소실점까지의 거리
        -> 이값이 커지면 원근각도가 완만해짐
    ***********************************/

    perspective: 1000px;
    /* 이 소실점 조정덕분에 입체로 보임1 */


    /* perspective-origin: 50% 50%; 이게 센터값이자 기본값 */
     /*********************************************** 
        [ 뷰포인트(관찰자위치) 변경옵션 ]
        perpective-origin : 가로 세로;
        - 가로축: left, center, right, px, % 등 단위
        - 세로축: top, center, bottom, px, % 등 단위
        -> 두 값 중에 하나만 쓸 수 있고 복합일 경우
        2가지를 같이 셋팅함!
    ***********************************************/

    /* 배경 애니 애니메이션 호출 */
    animation: bg-ani 4s ease-in-out infinite alternate;
    }

/* 문프레임 배경 애니 키프레임 */
@keyframes bg-ani {
    to{
        background-size: auto 120%;

    }
}
/* 문짝 */
.door{
    position: relative;
    /* 문고리를 앱솔로 만들거라서 문짝을 부모자격준다 */

    width: 350px;
    height: 580px;
    background-color: #ffcb61;

    /* y축 회전- 처음엔 닫힌것처럼 0 */
    rotate: y 0;
    /* 축 위치 옮기기 */
    transform-origin: left;

    /* 애니호출
    (1) door-first-open-ani 문 처음 열기 처음과 끝 천천히, 한번만, 끝상태유지  */
    animation: 
    door-first-open-ani 
    1s ease-in-out 1s forwards,
    /* (2) door-infinite-ani 문 계속 여닫기 2초간 처음과 끝천천히 2초 기다림 영원히 반대방향애니세팅-  */
    door-infinite-ani 
    2s ease-in-out 2s infinite alternate;

    /* 애니메이션 플레이 상태 설정하여 멈추기 
    animation-play-state:
    1. 재생 상태값: runnig 
    2. 멈춤 상태값: paused
    anps*/

    animation-play-state: paused;
    z-index: 1;
}
/* 문의 최상위 부모에 마우스 오버시 애니 재생 */
.cont:hover .door {
    animation-play-state: running;
}

/* 문애니- 처음 열리는 키프레임 */
@keyframes door-first-open-ani {

    to{
        rotate: y 90deg;
    }
}

/* 문애니 영원히 열렸다 닫히는 키프레임 */
@keyframes door-infinite-ani {
    from{
        rotate: y 90deg;
    }
    to{
        
        rotate: y -70deg;
    }
}
/* 문 경고문 */
.warning{
    position: absolute;
    left: 35%;
    top: 20px;
    font-size: 30px;
    color: #77bef0;
}
/* 문고리 */
.handle{
    position: absolute;
    top: 50%;
    /* y축 중앙이동 */
    transition: 0 -50%;
    right: 25px;
    /* 부모는 .door */
    width: 50px;
    height: 50px;
    background-color: #77bef0;
    border-radius: 50%;

}

/* 엘사박스 - 문에서 나올 캐릭터*/

.elsa-box{
    position: absolute;
    /* 부모는 .frame */
    bottom: 0;
    right: 0;
    width: 350px;
    height: 580px;
    /* 넘치는 자식숨기기 */
    overflow: hidden;

}
/* 엘사 이미지 */
.elsa{
    position: absolute;
    right: -200px;
    bottom: 0;
    /* 부모는 .elsa-box */
    /* 살짝 기울어진 몸 */
    rotate: 0deg;
    transform-origin: bottom;



    /* 엘사 애니 호출 */
    animation: 
    elsa-ani 
    1s ease-in-out 2s infinite alternate;

    /* 처음에 멈춰잇음 */
    animation-play-state: paused;
}
/* 최상위 부모에 마우스 오버시 애니 재생 */
.cont:hover .elsa {
    animation-play-state: running;}

/* 엘사 애니 키프레임 */
@keyframes elsa-ani {
    to{
         right: -100px;
         rotate: -20deg;
    }
}
