@charset "utf-8";

/* 심슨 가족 애니메이션 코드 : simpson_ani.css */

/* 트랜스폼 사용법  
    y축 회전
    transform: rotateY(각도deg)
    == 같은 세팅 rotate: y 각도deg
    */

/* 1-1. 문짝에 애니메이션 호출적용! */
.door{
    /* 애니메이션- animation: 이시이지반방마 */
    /* animation: door-ani 1s ease-in-out 1s 3 alternate forwards; */
    /* alternate 는 from->to 경로 애니를 반대방향도 진행해주는 옵션값.
    기본값(backwards): 애니가 끝나면 처음값으로 돌아감.
     forwards 애니가 끝나면 끝나는 값으로 유지하게 하는 옵션값 */
    
    animation: door-ani .1s ease-in-out;
}
/* 1-2. 문 열기 애니 키프레임 */
@keyframes door-ani {
    0%{
        rotate: y 0deg;
    }
    30%{
        rotate: y 141deg;
    }
    80%{
        rotate: y 141deg;
    }
    100%{
        rotate: y 0deg;
    }
}

/* 2-1. 심슨 애니호출 설정 */
.simpson{
    animation: simpson-ani 2s .5s forwards;
}
/* 2-2. 심슨 걸어나오기 키프레임 */
@keyframes simpson-ani {
    0%{
    top: 302px;
    left: 357px; 
    width: 33px;
    
    }
    5%{
        /* 중간장면 */
    top: 311px;
    left: 357px; 
    width: 50px; 
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    20%{
    top: 319px;
    left: 357px;
    width: 64px;
    /* 기울어지는 거 방지 */
    rotate: 0deg; 
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    
    40%{
    top: 319px;
    left: 390px;
    width: 70px;
    /* 기울어지기 */
    rotate: -20deg;
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    60%{
    top: 321px;
    left: 390px;
    width: 70px;
    /* 기울어지기 */
    rotate: 10deg;
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    80%{
    top: 300px;
    left: 400px;
    width: 100px;
    /* 기울어지기 */
    rotate: -30deg;
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    90%{
    top: 200px;
    left: 400px;
    width: 200px;
    /* 기울어지기 */
    rotate: 40deg;
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    100%{
    top: 180px;
    left: 200px;
    width: 350px;
    /* 기울어지기 */
    rotate: 0deg;
    /* 문짝보다 위로 오게 */
    z-index: 1;
    }
    
}


/* 2.5-1. 말풍선 등장하기 애니메이션 호출 설정 */
.words{
    /* 애니메이션 */
    animation: words-ani .2s linear 2.5s forwards;
}

/* 2.5-2. 말풍선 키프레임 */
@keyframes words-ani {
    to{
        opacity: 1;
    }
}

/* 3-1. 마지 애니호출 설정 */
.marge{
    animation: marge-ani .8s ease-in-out 3s forwards;
}
/* 3-2. 마지 움직이는 애니 키프레임 */
@keyframes marge-ani {
/* from혹은 0% 설정이 원본세팅과 같다면 생략할 수 있다   */
/* 그래서 to 또는 백퍼센트 세팅만 설정해두됨 */
100%{
    right: -231px;
    rotate: -18deg;
}
}
/* 4-1. 리사 애니호출 설정 */
.lisa{
    animation: lisa-ani .8s ease-in-out 2.5s forwards;
}
/* 4-2. 리사 움직이는 애니 키프레임 */
@keyframes lisa-ani {
/* from혹은 0% 설정이 원본세팅과 같다면 생략할 수 있다   */
/* 그래서 to 또는 백퍼센트 세팅만 설정해두됨 */
100%{
    bottom: -50px;
    right: 150px;
    width: 200px;
    rotate: 0deg;
}
}

/* 5-1. 바트 애니호출 설정 */
/* .bart{
    animation: bart-ani .8s ease-in-out 2.5s forwards;
} */
/* 5-2. 바트 움직이는 애니 키프레임 */
/* @keyframes bart-ani {} */
/* from혹은 0% 설정이 원본세팅과 같다면 생략할 수 있다   */
/* 그래서 to 또는 백퍼센트 세팅만 설정해두됨 */
/* 
0%{
    top: -300px;
    left: -30px;
    width: 300px;
    rotate: 180deg;
}
50%{
    bottom: 300px;
    right: -30px;
    width: 300px;
    rotate: 0deg;
}
60%{
    bottom: 300px;
    right: -30px;
    width: 300px;
    rotate: -90deg;
}
70%{
    bottom: 200px;
    right: -30px;
    width: 300px;
    rotate: 0deg;
}
80%{
    bottom: 200px;
    left: -50px;
    width: 300px;
    rotate: 180deg;
}
90%{
    bottom: 220px;
    right: 0px;
    width: 300px;
    rotate: 90deg;
}
100%{
    translate: 0 500px;
    right: -30px;
    width: 300px;
    rotate: 0deg;
}
} */

/* 5-1. 바트 애니호출 설정 */
.bart{
    animation: 
    bart-ani 1s ease-out 3s forwards,
    bart-dancing-ani .2s ease-in 4s 5 forwards,
    bart-falling-ani .1s ease-in-out 4.2s forwards,
    bart-up-ani .8s linear 6s forwards;
}
/* 5-2-1. 바트심슨 키프레임: 등장애니 */
@keyframes bart-ani {
   
    100%{
    top: -300px;
    left: -30px;
    width: 300px;
    rotate: 0deg;
    }
}

/* 5-2-1. 바트심슨 키프레임: 빙빙도는 애니 */
@keyframes bart-dancing-ani {
    0%{
    top: 300px;
    left: 50px;
    width: 100px;
    rotate: 0deg;
}
30%{
        top: 300px;
        left: 50px;
        width: 100px;
        rotate: 90deg;
    }
    60%{
        top: 300px;
        left: 50px;
        width: 100px;
        rotate: 180deg;
    }
    
    100%{
        top: 300px;
        left: 50px;
        width: 100px;
      
        rotate: -90deg;
    }
    
}

/* 5-2-1. 바트심슨 키프레임: 떨어지는 애니 */
@keyframes bart-falling-ani {
    0%{
top: -100px;
        left: -30px;
        width: 300px;
        rotate: 180deg;
    }
    100%{
translate: 0 -100px;
    }

}
/* 5-2-1. 바트심슨 키프레임: 다시 올라오는 애니 */
@keyframes bart-up-ani {
    0%{
top: -500px
    }
    100%{
translate: 0 100px;
    }
}

/* 바트는 빙글빙글돌고 내려오게 하고 싶음... */
/* 오르락내리락하면서 오른쪽으로 이동했따가 왼쪽으로 이동하면서 오르락내리락하게 하고싶음 */
/* 매기 */

/* 매기 */
/* 5-1. 메기심슨 애니메이션 호출설정 */
.maggie {
  /* 애니메이션 - animation: 이시이지반방마 */
  animation: 
    /* 등장애니 */ 
    maggie-ani 0.8s ease-out 6.5s forwards,
    /* 업다운애니 */ 
    maggie-updown-ani 0.5s ease-in-out 7.3s infinite alternate,
    /* 왔다갔다애니 */ 
    maggie-comego-ani 8s ease-in-out 17s infinite alternate;
}
/* 5-2-1. 메기심슨 애니 키프레임 : 등장애니 */
@keyframes maggie-ani {
  to {
    bottom: -55px;
  }
}
/* 5-2-2. 메기심슨 애니 키프레임 : 오르락내리락 애니 */
@keyframes maggie-updown-ani {
  to {
    translate: 0 5%;
  }
}
/* 5-2-3. 메기심슨 애니 키프레임 : 왔다갔다 애니 */
@keyframes maggie-comego-ani {
  to {
    left: 633px;
  }
}