@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

 @font-face{
                font-family: 빛의계승자;
                src: url(../../fonts/HeirofLightBold.woff2) format("woff2"),
                url(../../fonts/HeirofLightBold.ttf) format("truetype"),
        
            }
/* 적용하기 */
            .tit{
                font-family: '빛의계승자';
                font-weight: normal;
                font-size: 5vw;
                color: rgb(13, 0, 128);
            }

html, body{
    /* 보이는 높이값을 보이는 화면에 맞춤 */
    height: 100%;
    
}
/* 배경넣기 - 이미지 중앙, 높이는 모두 나옴*/
body{
    background: #000 url(../images/oldTV.png) no-repeat center/auto 100%;
}

/* 타이틀 */
.tit{
    position: absolute;
    bottom: 10%;
    left: 50%;
    translate: -50%;
    /* font-family: 'Black And White Picture', sans-serif; */
    font-weight: normal;
    font-size: 100px;
    /* color: yellow; */
    white-space: nowrap;
    background-color: #ffffff76;
   
}

/* 전체박스 */
.house{
    /* 부모자격을 준다 - 하위 앱솔루트 요소들의 부모 */
    position: absolute;
    top: -13%;
    left: 40%;
    /* 정중앙이동 */
    translate: -50% 50%;

    /* 가운데 오기 */
    /* margin: 0 auto; */
    /* house.png와 동일한 크기 */
    width: 800px;
    height: 441px;
    /* 배경이미지 */
    background: url(../images/house.png) no-repeat;

    /* 문(.door)을 원근 입체로 보이게 하기 위해 
    부모 요소인 .house에 원근 설정을 한다
        perspective: 수치값; per 
        - 수치값의 의미는 기준축으로부터 소실점까지의 거리
        - 이 값이 어떤 기준수치값보다 작으면 원근이 커진다 */
    perspective: 480px;
    /* 화면밖튀어나오는거 안보이게 */
    overflow: hidden;
}

/* 임시로 숨기기 */
/* .door ~ * {
    display: none;
} */

/* 1. 심슨 */
.simpson{
    position: absolute;
    top: 302px;
    left: 357px; 
    /* 부모는 .house  */
    width: 33px;
}

/* 2. 문짝 */
.door{
    position: absolute;
    top: 284px;
    left: 357px;
    /* 부모는 .house  */

    /* 문 회전축 오른쪽끝으로 변경 */
    transform-origin: right;
    /* 문 y축회전 테스트*/
    /* rotate: y 141deg; */
}

/* 말풍선 */
.words{
/* 앱솔루트 포지션 */
position: absolute;
top: 10px;
left: 110px;
/* 부모는 .house */

/* 트랜스폼 스케일로 축소 */
scale: .85;
/* 트랜스폼 스케일에서 스케일이 독립함~ */

/* 박스설정 */
background-color: #fff;
padding: 40px;
border-radius: 50%;
text-align: center;
border: 10px solid rgb(255, 198, 9);
/* 글자설정 font: 스두크/줄체 크기랑 글자체는필수 */
font: 20px/1.5 akbar;
/* 말풍선 처음엔 안보이게 */
opacity: 0;
}

/* 말풍선 삼각형 말풍선 꼬리 가상요소로 만들기 */
.words::before{
    content: '';
    position: absolute;
    /* 앱솔이 자동 블록만들어주니까 디플블록안해도됨 */
    bottom: 0;
    right: 0;
    /* 보더로 삼각형 모양 만들기 */
    /* 가로, 세로는 모두 0
    위 또는 아래에 보더 주기
    양쪽 보더는 동일하고 투명색 transparent설정 */
    width: 0;
    height: 0;
    border-top: 50px solid rgb(255, 198, 9);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;

    /* 트랜스폼으로 위치이동과 회전 */
    translate: -10px 16px;
    rotate: -38deg;
}
/* 말풍선 꼬리 내부 흰색처리 */
.words::after{
    content: '';
    position: absolute;
    /* 앱솔이 자동 블록만들어주니까 디플블록안해도됨 */
    bottom: 0;
    right: 0;
    /* 보더로 삼각형 모양 만들기 */
    /* 가로, 세로는 모두 0
    위 또는 아래에 보더 주기
    양쪽 보더는 동일하고 투명색 transparent설정 */
    width: 0;
    height: 0;
    border-top: 37px solid rgb(255, 255, 255);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    translate: -27px -3px;
    rotate: -39deg;
}
    

/* 3. 마지 */
.marge{
    position: absolute;
    bottom: -211px;
    right: -300px;
    width: 424px;
    transform-origin: bottom;
    rotate: 0deg;
}
/* 4. 리사 */
.lisa{
    position: absolute;
    bottom: -500px;
    right: 300px;
    width: 300px;
    rotate: 90deg;
}
/* 5.바트 */
.bart{
    position: absolute;
    top: -300px;
    left: -30px;
    width: 300px;
    rotate: 180deg;
}

/* 6.  매기 */
.maggie{
    position: absolute;
    bottom: -200px;
    left: -30px;
    width: 200px;
}

/* 7. 티비 */
#tv{
    position: absolute;
    top: 32px;
    translate: 348px 0;
    width: 1069px;
    /* margin-top: 100px; */
}