@charset "utf-8";
/* 서브페이지 CSS - sub.css */

/* 공통 외부 css 불러오기 */
/* @import url(경로/파일명); */

/* 초기화CSS */
@import url(./reset.css);

/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든 것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1. 서브 타이틀  */
.sub-title {
  /* 1. 박스디자인 */
  /* 패딩 p20 */
  padding: 20px;
  /* 글자중앙tac */
  text-align: center;
  /* 테두리 bd */
  border: 2px dotted #000;
  /* 테두리 둥글리기 bdrs숫자- 기본적으로 다 네모임 둥그렇게 보이게 만들뿐 */
  border-radius: 10px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg-> 그냥 색은 색까지만 입력해도 되는데
     이미지는 설정해줘야함. 색이반고윙/크: 안쓰면 기본세팅으로 넘어감 */
  /* background: url(../images/titbg4.jpg) no-repeat 0/cover; */

  /* 2. 글자디자인 */
  /* 글자크기 fz숫자 */
  font-size: 40px;
  /* 글자체 ff */
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
  /* 글자테두리 webtst 
    테두리 두께를 더 얇게 하려면 px단위 숫자를 소수점 아래로 쓰면 됨. 알트누르고 드래그*/
  -webkit-text-stroke: 0.1px #000;

  /* 접두어란?
    속성 앞에 -webkit-라고 쓰면 크롬,사파리 브라우저용 속성임
    -ms- 마이크로 소프트
    -o- 오페라 브라우저
    -moz- 파이어폭스
    이 속성은 이미 공식적으로는 아니지만 다른 최신브라우저에서 사용됨 */
}
/* 각 서브 페이지별 타이틀 세팅 변경하기 */
/* (1) 경제페이지 */
.ec {
  background-image: url(../images/titbg2.jpg);
  color: #eed4d4;
}
/* (2) 사회페이지 */
.social {
  background-image: url(../images/titbg3.jpg);
  color: #fe3c71;
}
/* (3) it/과학페이지 */
.it {
  background-image: url(../images/titbg4.jpg);
  color: #1dc800;
}
/* (4) tv/연예페이지 */
.tv {
  background-image: url(../images/titbg5.jpg);
  color: #ffdcae;
}

/* 2-2. 언론사 로고 실제 뉴스 보면 세로 32고정, 가로는 이미지에 맞게 자동*/
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목  */
.article-title {
  font-size: 33px;
}

/* 스페셜박스(추가정보박스) */
/* 스페셜박스 제목 */
.special-box h4 {
  /* 왼쪽 보더 bl */
  border-left: 3px solid #000;
  /* 왼쪽 패딩 pl */
  padding-left: 20px;
  /* 아랫쪽 간격 mb */
  margin-bottom: 40px;
  font-size: 20px;
}
/* 스페셜박스 내용 */
.special-box p {
  font-size: 18px;
  line-height: 1.7;
}

/* 2-4. 기사 사진 및 정보  */
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  /* 박스설정 */
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;

  /* 글자설정 */
  font-size: 15px;
  color: #3b3b3b;
}

/* figure 요소의 기본 마진, 패딩 초기화를 여기다가 하면 위에 margin-bottom: 해둔게 사라짐 
  그래서 여기가 아니라 상단에 초기화 파일을 만들어서 불러옴*/

/* 2-5. 기사 내용 */
.contents p {
  /* 글자설정 fz*/
  font-size: 18px;
  /* 줄간격 lh / 숫자 값은 배수임! 주의하깅 */
  line-height: 1.7;
}

/* mark 요소 디자인 변경 */
.contents mark {
  /* mark는 인라인. 기존inline에서 block으로 변경! */
  display: block;
  /* 박스설정 */
  background-color: #f6d5db;
  margin: 30px 100px;
  padding: 40px;
  border-bottom: 3px solid #085bcf;
  border-top: 3px solid #085bcf;
  color: #085bcf;
  /* 글자설정 */
  font-family: "Do Hyeon", sans-serif;
  font-size: 28px;
  text-shadow: 2px 2px 2px #ffffff;
  text-align: center;
}
/* 2-6. 기자 정보  */
.reporter {
  font-size: 16px;
  color: #3b3b3b;
}
/* 2-7. 기사 원문  */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a요소 */
.article-link a {
  /* 디자인 적용과 부모박스의 문자열 정렬이 적용되도록 인라인-블록으로 변경 */
  display: inline-block;
  
  /* (1) 박스 설정 */
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #fb4949;
  text-align: center;
  line-height: 100px;
  
  /* (2) 글자 설정 a 링크는 기본값이 파란밑줄이어서 그거 검정에 줄없음으로 초기화했잖아
  그래서 색 다시 바꾸고 싶으면 a에서 바꿔야지 부모에서 바꿔봤자 적용안됨 */
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  color: #ffffff;
  
}

/* (3) 버튼 a 마우스 오버시 
-> 가상클래스(마치 클래스를 준 것 같음): hover 사용 */
.article-link a:hover{
  /* 배경색 */
  background-color: #00672d;
  /* 박스그림자 bxsh  inset에 값넣으면 내부 그림자 들어감 */
  /* box-shadow: inset(내부그림자) x축 y축 블러(검정선택하고 투명도 조절하기) 확장 그림자색; */
  /* 박스 그림자는 확장해주는게 있음. 광원에 가까워질수록 그림자커지잖아. 
  주의사항: 글자 그림자에는 없는 "확장(spread)"가 있어서 그림자를 크게 만들 수 있음.
  그리고 콤마로 설정을 연결하면 여러개의 그림자를 만들 수 있다. 
   */
   /* 내부그림자 */
  box-shadow: inset 4px 4px 5px 2px #0000008a,
  /* 외부그림자 */
  4px 4px 3px #000000af;
}

/* 기사 설명 공통박스 디자인  */
.desc-box {
  /* 경계선을 위와 아래만 설정함 */
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding: 30px;
    margin-top: 30px;
}
/* 기사 설명 공통 제목 디자인 */
.desc-box h4 {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding: 15px;
  /* border: 2px groove #e75026; */
  /* border-style:  ; none지우고 컨트톨스페이스해서 종류보기 */
  /* background-color: lightcoral; */
  /* border-radius: 10px; */
  background-image: linear-gradient(to left, #fb4949, white);
  margin-bottom: 20px;
}



/* 기사 설명 공통 내용 박스 디자인 
공통이지만 인용블록은 blockquote이고 
주해는 p 요소를 쓰고 있으므로 
공통은 형제선택자 +를 쓴다
.desc-box h4 + *
설명: h4요소 다음 형제(+)요소 선택인데
별(*)을 사용하여 어떤 타입이든 모든 선택함! */
.desc-box h4 +  * {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(77, 76, 76);
}
/* 오른쪽으로 옮기기 위해 막스랑 주해를 따로 html 가서 div로 쌌음 */
.desc-box div {
  text-align: right;
}

/* 인용블록 박스 */
.quote-box img {
  /* 양쪽 정렬은 text-align:justify 로 설정함! */
  text-align: justify;
    width: auto;
    height: 130px;
    /* float 속성을 인라인요소에 사용할 경우 
    나 자신은 설정한 위치에 오고 다른 인라인요소는 그 옆으로 흐른다
    여기서는 이미지의 글자는 한줄만 옆에 오는데 이미지 높이 만큼 
    글자가 옆으로 흘러가게 할 때 사용한다. */
    float: right;
    margin-left: 20px;
    border-radius: 20px;
        box-shadow: 3px 3px 5px #00000057;
}

/* 뉴스공통박스 디자인  */
.news-box {
    border-top: 2px dashed #ccc;
    padding: 30px;
    margin-top: 30px;
}

/* 뉴스 공통 제목 디자인 */
.news-box h3 {
  display: inline-block;
  font-size: 20px;
  /* -webkit-text-stroke: 0.3px rgb(241, 234, 234); */
  /* t스트로크넣고싶어 근데 도현 글꼴은 웹킷넣으면 깨짐 ㅠ  */
  text-shadow: 1px 1px 2px #000000;
  color: #ffffff;
  padding: 15px;
  /* border-style:  ; none지우고 컨트톨스페이스해서 종류보기 */
  margin-bottom: 20px;
  /* 배경그라데이션 */
  background-image: linear-gradient(to right, #028f31, white);
  /* 최대길이 설정 */
  width: 50%;
}

/* 뉴스 공통 a 링크 */
.news-box a{


  /* 말줄임 표시 세팅하기 */
  /* 1. 넘치는 자식요소 숨기기 */
  overflow: hidden;
  /* 2. 넘치는 텍스트 말줄임표시 나오게 하기 */
  text-overflow: ellipsis;
  /* 3. 줄바꿈 방지 */
  white-space: nowrap;
  /* 4. 말줄임해당박스는 블록요소로 변경 */
  display: block;

/* 한줄 긴거 말줄임표 처리하는 법 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;*/

  font-size: 16px;
  line-height: 30px;
}

/* a오버시 가상클래스 :hover */
.news-box a:hover {
  /* 마우스 오버시 글자색, 그림자 적용 */
  color: rgb(13, 169, 221);
  text-shadow: 1px 1px 1px #000000c0;
}

/* 테크뉴스 파트
가상요소를 사용하여 앞에 아이콘 넣기
앞에 넣기 ::before
뒤에 넣기 ::after
->필수속성- 반드시 넣어야함 content
 */
.tech-news a::before {
  content: '😋';
/* 윈도우키 . 은 이모지
ㅇ 한자는 원형문자
ㅁ 한자는 특수문자 */
}
.tech-news a::after {
  content: '🤪';
}

/* 랭킹뉴스 박스 인기뉴스*/
.rank-news ol {
  /* 리스트 스타일 숫자형으로 다시 사용 
  ol 요소의 기본 auto 스타일은 decimal 즉 숫자형임*/
  list-style: auto;
  /* 기본 왼쪽 패딩을 초기화했으므로 다시 조정함!! */
  padding-left: 20px;
}

/* 분야별 뉴스 박스 */
/* dl는 dt와 dd의 부모 박스*/
.sec-news dl {
/* 넘치는 자식요소를 숨기기, 
부가적으로 자식의 float 설정이 바깥요소로 나가는 것을 차단한다.  */
overflow: hidden;
/* oh 단축*/
}

/* 분류 타이틀 = dt만 디자인 한번에 다하기  */
.sec-news dt{
/* 박스설정 */
/* display: block; 기본으로 dt는 원래 블록이라서 주석으로 바꿈-첨에 인라인블록으로 
하려고 만들엇다가 결국 블록으로 돌아옴 */
width: 40px;
/* 가로크기를 안 주고 자동으로 내용만큼 박스 크기를 잡으려고 
display: inline-block으로 했었으나 가로 크기를 정할 경우 
display:block으로 해도 무방하다 */

/* dt와 dd을 같은 줄에 넣고 싶어서 html에서 구조 바꿈 
dl을 3개로 만들엇음*/

/* 그리고 이제 dtdd를 한줄에 두고 싶어서 만드니까
디스플레이 플렉스는 조금 나중에 배워서 일단 플롯을 먼저 해봄
근데 실제론 플렉스 자주 쓴대. 근데 알고 써야하니까 */
/* 플롯레프트를 넣어서 아래를 강제로 위로 땡김 */
/* dt박스 옆으로 dd가 올라오도록 
나는 왼쪽left로 갈게 너는 오른쪽으로 올라와라
흘러가는 속성 float:left */
float: left;
/* 플롯레프트를 주게 되면 다른 블록요소에 영향을 주므로
부모박스인 dl에 overflow:hidden을 줘서 플롯레프트의 영향을 차단해야한다! */

/* 마진 순서 위 오른 아래 왼 */
margin: 10px 15px 15px 0;

padding: 15px;
border: 5px dashed rgb(207, 198, 198);
/* 원형 보더는 값이 50%임. bdrs50p */
border-radius: 50%;
text-align: center;
background-color: #eb7575;

/* 글씨가 떨어지는 거 방지- 글자 줄바꿈방지 래핑방지 박스는 다 래핑
박스가 좁으면 글자 다 내려감 근데 화이트스페이스노랩으로 막을수잇음
white-space:nowrap  */

/* 글자설정 */
  font-family: "Do Hyeon", sans-serif;
      font-size: 20px;
}

/* 개별적으로 dt를 선택하여 글자 배경색 바꾸기
dl은 왜 차일드고 dt는 타입쓰는지 생각해보기 아 헷갈려 dl 안에 dt dd잇어서??/?? */
.sec-news dl:first-child dt:first-of-type {
  background-color: #fff;
}

.sec-news dl:nth-child(2) dt:first-of-type {
  background-color: #fff;
}

.sec-news dl:last-child dt:first-of-type {
  background-color: #fff;
}

/* dd 용어 설명 박스 */

/* dd 타입중에 첫번쨰 선택하기
[자식 요소가 여러가지 섞인 경우 선택하기]
가상클래스 ...-of-type 사용
첫번째 타입-> 요소:first-of-type
n번째 타입-> 요소:nth-of-type(n)
마지막 타입-> 요소:last-of-type
*/

.sec-news dd:first-of-type {
/* 첫번째 dd를 마진탑을 밀면 아래있는 다른 요소도 밀린다
마진의 특징 */
  margin-top: 15px;

}

/* 가상 요소 아이콘 넣기-> 대상요소::before */
.sec-news dd:first-of-type a::before {
  content: '🍹';
}
.sec-news dd:last-of-type a::before {
  content: '🍸';
}

/* 인기랭킹뉴스 뒤에 이모지 추가 */
.rank-news a::after { 
  content: '😎' ;}

/* 테크뉴스 a 요소 기본 색 변경하기
순서대로 따로 선택하려면 원래 class를 따로 주고
그 이름으로 선택하면 되는데 class 이름 안주고 선택하는 방법은?
가상 클래스 중 first-child 같은 가상클래스를 사용한다!!!!

첫번째 자식은 -> 선택요소:first-child
마지막 자식은 -> 선택요소:last-child
n번째 자식은 -> 선택요소:nth-child(숫자)
*주의사항: 같은 종류의 자식요소로 구성된 경우에만 사용 가능하다!!!
*/
.tech-news li:first-child a {
  color: rgb(12, 126, 50);
}

.tech-news li:nth-child(2) a {
  color: rgb(28, 175, 89);
}

.tech-news li:last-child a {
  color: rgb(18, 201, 1);
}


/* 오늘의 작품과 느낌 */
.work{
  background-image: linear-gradient(45deg, #e26464, #ecbe40, #036b3a);
  padding: 20px 46px;
  text-align: center;
  /* 박스그림자: bxsh (inset내부그림자)*/
  box-shadow: inset 0  0 20px #000000d0;

  /* 최대크기 설정시 부모박스가 그 크기보다 작아지면 auto로 전환되어
  크기가 유동적으로 바뀐다 */
  max-width: 600px;
  margin: 0 auto;
  /* 마진 중첩의 원리에 따라 작은 마진값이 큰 마진값에 포함됨.
  따라서 위의 마진값인 20px보다 더 큰값을 주면 위아래 박스 사이의 
  실제 마진값이 설정된다 */
  margin-top: 30px;
  border-radius: 10px;
}
/* 그라데이션 -> 배경 이미지 속성에 쓴다. 
(예전에는 이미지로 만들어서 그럼)

    [ 선형 그라데이션 : linear-gradient ]
    linear-gradient(방향,색1,색2,...);
    linear-gradient(방향,색1 몇%,색2 몇%,...);
    linear-gradient(각도,색1 몇%,색2 몇%,...);
    - 옵션 : 
    1. 방향: to top, to bottom, to left, to right
    2. 각도: 각도deg
    3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능 */

/* 제목 */
.work h4 {
    font-family: "Bagel Fat One";
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #e5785d;
    -webkit-text-stroke: 0.75px black;
}
/* 이미지 */
.work img {
    border: 20px ridge #9c7343;
    max-width: 100%;
}

/* 작품명 */
.work figcaption {
    font-family: "Do Hyeon";
    font-weight: normal;
    color: #c6b0a9;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    margin-top: 10px;
}

/* 절규만 다른색 */
.work figcaption cite {
    font-style: normal;
    color: crimson;
}

