@charset "utf-8";
/* 서브페이지 CSS - sub.css */

/* 공통 외부 css 불러오기 */
/* @import url(경로/파일명); */

/* 초기화CSS */
@import url(./reset.css);

/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든 것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1. 서브 타이틀  */
.sub-title {
  /* 1. 박스디자인 */
  /* 패딩 p20 */
  padding: 20px;
  /* 글자중앙tac */
  text-align: center;
  /* 테두리 bd */
  border: 2px dotted #000;
  /* 테두리 둥글리기 bdrs숫자- 기본적으로 다 네모임 둥그렇게 보이게 만들뿐 */
  border-radius: 10px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg-> 그냥 색은 색까지만 입력해도 되는데
     이미지는 설정해줘야함. 색이반고윙/크: 안쓰면 기본세팅으로 넘어감 */
  /* background: url(../images/titbg4.jpg) no-repeat 0/cover; */

  /* 2. 글자디자인 */
  /* 글자크기 fz숫자 */
  font-size: 40px;
  /* 글자체 ff */
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
  /* 글자테두리 webtst 
    테두리 두께를 더 얇게 하려면 px단위 숫자를 소수점 아래로 쓰면 됨. 알트누르고 드래그*/
  -webkit-text-stroke: 0.1px #000;

  /* 접두어란?
    속성 앞에 -webkit-라고 쓰면 크롬,사파리 브라우저용 속성임
    -ms- 마이크로 소프트
    -o- 오페라 브라우저
    -moz- 파이어폭스
    이 속성은 이미 공식적으로는 아니지만 다른 최신브라우저에서 사용됨 */
}
/* 각 서브 페이지별 타이틀 세팅 변경하기 */
/* (1) 경제페이지 */
.ec {
  background-image: url(../images/titbg2.jpg);
  color: #eed4d4;
}
/* (2) 사회페이지 */
.social {
  background-image: url(../images/titbg3.jpg);
  color: #fe3c71;
}
/* (3) it/과학페이지 */
.it {
  background-image: url(../images/titbg4.jpg);
  color: #1dc800;
}
/* (4) tv/연예페이지 */
.tv {
  background-image: url(../images/titbg5.jpg);
  color: #ffdcae;
}

/* 2-2. 언론사 로고 실제 뉴스 보면 세로 32고정, 가로는 이미지에 맞게 자동*/
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목  */
.article-title {
  font-size: 33px;
}

/* 스페셜박스(추가정보박스) */
/* 스페셜박스 제목 */
.special-box h4 {
  /* 왼쪽 보더 bl */
  border-left: 3px solid #000;
  /* 왼쪽 패딩 pl */
  padding-left: 20px;
  /* 아랫쪽 간격 mb */
  margin-bottom: 40px;
  font-size: 20px;
}
/* 스페셜박스 내용 */
.special-box p {
  font-size: 18px;
  line-height: 1.7;
}

/* 2-4. 기사 사진 및 정보  */
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  /* 박스설정 */
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;

  /* 글자설정 */
  font-size: 15px;
  color: #3b3b3b;
}

/* figure 요소의 기본 마진, 패딩 초기화를 여기다가 하면 위에 margin-bottom: 해둔게 사라짐 
  그래서 여기가 아니라 상단에 초기화 파일을 만들어서 불러옴*/

/* 2-5. 기사 내용 */
.contents p {
  /* 글자설정 fz*/
  font-size: 18px;
  /* 줄간격 lh / 숫자 값은 배수임! 주의하깅 */
  line-height: 1.7;
}

/* mark 요소 디자인 변경 */
.contents mark {
  /* mark는 인라인. 기존inline에서 block으로 변경! */
  display: block;
  /* 박스설정 */
  background-color: #f6d5db;
  margin: 30px 100px;
  padding: 40px;
  border-bottom: 3px solid #085bcf;
  border-top: 3px solid #085bcf;
  color: #085bcf;
  /* 글자설정 */
  font-family: "Do Hyeon", sans-serif;
  font-size: 28px;
  text-shadow: 2px 2px 2px #ffffff;
  text-align: center;
}
/* 2-6. 기자 정보  */
.reporter {
  font-size: 16px;
  color: #3b3b3b;
}
/* 2-7. 기사 원문  */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a요소 */
.article-link a {
  /* 디자인 적용과 부모박스의 문자열 정렬이 적용되도록 인라인-블록으로 변경 */
  display: inline-block;
  
  /* (1) 박스 설정 */
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #fb4949;
  text-align: center;
  line-height: 100px;
  
  /* (2) 글자 설정 a 링크는 기본값이 파란밑줄이어서 그거 검정에 줄없음으로 초기화했잖아
  그래서 색 다시 바꾸고 싶으면 a에서 바꿔야지 부모에서 바꿔봤자 적용안됨 */
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  color: #ffffff;
  
}

/* (3) 버튼 a 마우스 오버시 
-> 가상클래스(마치 클래스를 준 것 같음): hover 사용 */
.article-link a:hover{
  /* 배경색 */
  background-color: #00672d;
  /* 박스그림자 bxsh  inset에 값넣으면 내부 그림자 들어감 */
  /* box-shadow: inset(내부그림자) x축 y축 블러(검정선택하고 투명도 조절하기) 확장 그림자색; */
  /* 박스 그림자는 확장해주는게 있음. 광원에 가까워질수록 그림자커지잖아. 
  주의사항: 글자 그림자에는 없는 "확장(spread)"가 있어서 그림자를 크게 만들 수 있음.
  그리고 콤마로 설정을 연결하면 여러개의 그림자를 만들 수 있다. 
   */
   /* 내부그림자 */
  box-shadow: inset 4px 4px 5px 2px #0000008a,
  /* 외부그림자 */
  4px 4px 3px #000000af;
}

/* 기사 설명 공통박스 디자인  */
.desc-box h4 {
    border-top: 2px dashed #ccc;
    padding: 30px;
    margin-top: 30px;
}
/* 기사 설명 공통 제목 디자인 */
.desc-box h4 {
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  border: 2px groove #e75026;
  /* border-style:  ; none지우고 컨트톨스페이스해서 종류보기 */
  background-color: lightcoral;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* 기사 설명 공통 내용 박스 디자인 
공통이지만 인용블록은 blockquote이고 
주해는 p 요소를 쓰고 있으므로 
공통은 형제선택자 +를 쓴다
.desc-box h4 + *
설명: h4요소 다음 형제(+)요소 선택인데
별(*)을 사용하여 어떤 타입이든 모든 선택함! */
.desc-box h4 +  * {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(77, 76, 76);
}

/* 뉴스공통박스 디자인  */
.news-box {
    border-top: 2px dashed #ccc;
    padding: 30px;
    margin-top: 30px;
}
/* 뉴스 공통 제목 디자인 */
.news-box h3 {
  display: inline-block;
  font-size: 20px;
  padding: 15px;
  border: 2px groove #e75026;
  /* border-style:  ; none지우고 컨트톨스페이스해서 종류보기 */
  background-color: lightcoral;
  border-radius: 10px;
  margin-bottom: 20px;
}