@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

/* 전체박스 */
.house{
    /* 부모자격을 준다 - 하위 앱솔루트 요소들의 부모 */
    position: relative;
    /* 가운데 오기 */
    margin: 0 auto;
    /* house.png와 동일한 크기 */
    width: 680px;
    height: 453px;
    /* 배경이미지 */
    background: url(./데못죽/ediya.jpg) no-repeat;

    /* 문(.door)을 원근 입체로 보이게 하기 위해 
    부모 요소인 .house에 원근 설정을 한다
        perspective: 수치값; per 
        - 수치값의 의미는 기준축으로부터 소실점까지의 거리
        - 이 값이 어떤 기준수치값보다 작으면 원근이 커진다 */
    perspective: 480px;
    /* 화면밖튀어나오는거 안보이게 */
    overflow: hidden;
}

/* 임시로 숨기기 */
/* .yj ~ * {
    display: none;
} */

/* 1. 문대 */
.mundae{
    position: absolute;
    top: 339px;
    left: 329px;
    width: 84px;
    z-index: 1;
}

/* 2. 문짝 */
.door{
    position: absolute;
    bottom: -2px;
    left: 331px;
    width: 78px; 
}

/* 3. 0%가 처음 위치 100%가 최종위치 여기는 처음위치 */
.ah{
    position: absolute;
    top: -200px;
    left: 10px;
    width: 100px;
    z-index: 1;  
}
.sj{
    position: absolute;
    top: 339px;
    left: 329px;
    width: 84px;
}
.yj{
    position: absolute;
    top: 212px;
    right: 99px;
    width: 30px;
}
.rb{
    position: absolute;
    top: 212px;
    left: 99px;
    width: 30px;  
}
.cw{
    position: absolute;
    top: 175px;
    left: -200px;
    width: 320px;  
}
.bsj{
    position: absolute;
    top: 300px;
    right: 80px;
    width: 300px;  
}